### Arbitrary Argument

In [1]:
def multiply(*number):
    product=1;
    for i in number:
        product*=i;
    return product;

In [2]:
multiply(1,2,3,4)

24

In [3]:
multiply(34,43)

1462

In [4]:
multiply(34)

34

In [5]:
def Print(*value):
    for i in value:
        print(i,end=' ');
    print();

In [7]:
Print('abbas',43,'kalam');

abbas 43 kalam

In [8]:
Print([34,34,623])

[34, 34, 623]

In [22]:
def ftn():
    print("ID of x : ",id(x));
    print("value of x : ",x);
    y=x;
    print("ID of y : ",id(y));
    print("value of y : ",y);

In [23]:
x=5;
print("ID of x outside the function : ",id(x));
print("value of x outside the function : ",x);
print();
ftn();

ID of x outside the function :  3130500514160
value of x outside the function :  5

ID of x :  3130500514160
value of x :  5
ID of y :  3130500514160
value of y :  5

In [36]:
def ftn():
    x=10;
    print("ID of x : ",id(x));
    print("value of x : ",x);
    y=x;
    print("ID of y : ",id(y));
    print("value of y : ",y);
    y=4;
    print("ID of y after changing the value : ",id(y));
    print("value of y : ",y);

In [37]:
x=3;
print("ID of x outside the function : ",id(x));
print("value of x outside the function : ",x);
print();
ftn();

ID of x outside the function :  3130500514096
value of x outside the function :  3

ID of x :  3130500514320
value of x :  10
ID of y :  3130500514320
value of y :  10
ID of y after changing the value :  3130500514128
value of y :  4

In [38]:
def ftn():
    global x
    x=5;
    print("ID of x : ",id(x));
    print("value of x : ",x);
    y=x;
    print("ID of y : ",id(y));
    print("value of y : ",y);

In [41]:
x=3;
print("ID of x outside the function : ",id(x));
print("value of x outside the function : ",x);
print();
ftn();
print("\nID of x after function call : ",id(x));
print("value of x after function call : ",x);

ID of x outside the function :  3130500514096
value of x outside the function :  3

ID of x :  3130500514160
value of x :  5
ID of y :  3130500514160
value of y :  5

ID of x after function call :  3130500514160
value of x after function call :  5

In [46]:
def f():
    global x
    x+=1;

In [47]:
x=30;
f();
print(x);

31