**Word Frequency Counter: Given a list of words, create a dictionary where the keys are the unique words and the values are the frequencies of each word in the list.**

In [1]:
wordFrequency={'apple':4,'banana':3,'strawberry':2,'orange':8};

In [2]:
for key in wordFrequency.keys():
    print(key);

apple
banana
strawberry
orange

In [6]:
for key,value in wordFrequency.items():
    print("Fruite name is : "+key,end='   ');
    print("Frequency of "+key+" are : "+str(value));

Fruite name is : apple   Frequency of apple are : 4
Fruite name is : banana   Frequency of banana are : 3
Fruite name is : strawberry   Frequency of strawberry are : 2
Fruite name is : orange   Frequency of orange are : 8

**Phonebook:**

In [7]:
phonebook={'abbas':34235,'khalid':43443,'kashif':849483,'usman':89344,'kausar':43423};

In [8]:
for value in phonebook.values():
    print(value);

34235
43443
849483
89344
43423

In [9]:
phonebook['sajid']=434534;

In [10]:
print(phonebook);

{'abbas': 34235, 'khalid': 43443, 'kashif': 849483, 'usman': 89344, 'kausar': 43423, 'sajid': 434534}

In [11]:
del phonebook['abbas'];

In [12]:
print(phonebook);

{'khalid': 43443, 'kashif': 849483, 'usman': 89344, 'kausar': 43423, 'sajid': 434534}

In [14]:
if 'usman' in phonebook.items():
    phonebook['usman']=45234;

In [15]:
print(phonebook);

{'khalid': 43443, 'kashif': 849483, 'usman': 89344, 'kausar': 43423, 'sajid': 434534}

In [16]:
if 'usman' in phonebook:
    print('found');
    phonebook['usman']=423342;

found

In [17]:
print(phonebook);

{'khalid': 43443, 'kashif': 849483, 'usman': 423342, 'kausar': 43423, 'sajid': 434534}

**Student Database:**

In [18]:
studentDB={1:{'name':'khalid','age':20,'grade':89},2:{'name':'waqas','age':23,'grade':90},3:{'name':'shabeer','age':40,'grade':60}};

In [23]:
def std_info():
    for key,value in studentDB.items():
        print("\nID : ",key);
        for k,v in value.items():
            print(k," : ",v);

In [24]:
std_info();

ID :  1
name  :  khalid
age  :  20
grade  :  89

ID :  2
name  :  waqas
age  :  23
grade  :  90

ID :  3
name  :  shabeer
age  :  40
grade  :  60

In [34]:
def avg_grade():
    total_grade=0;
    count=0;
    for value in studentDB.values():
        total_grade += value['grade'];
        count+=1;
    average=total_grade/count;
    return average;

In [35]:
print(avg_grade());

79.66666666666667

In [29]:
print(studentDB[1]);

{'name': 'khalid', 'age': 20, 'grade': 89}