## Function in python

### Factorial of a Number

In [1]:
def fact(num):
    fac=1;
    if num==0:
        return 1;
    for i in range(1,num+1):
        fac *=i;
    
    return fac;

In [2]:
print(fact(4));

24

In [3]:
print(fact(0));

1

In [4]:
print(fact(1));

1

In [5]:
print(fact(10));

3628800

### Recursion in python

In [6]:
def great():
    print('Assalamualikum');
    print('Kaise ho app');

In [7]:
great();

Assalamualikum
Kaise ho app

In [8]:
def great(n):
    print('Assalamualikum');
    print('Kaise ho app');
    n=n-1;
    if n>0:
        great(n);

In [9]:
great(4);

Assalamualikum
Kaise ho app
Assalamualikum
Kaise ho app
Assalamualikum
Kaise ho app
Assalamualikum
Kaise ho app

### Factorial using recursion

In [10]:
def factorial(num):
    if num==0:
        return 1;
    return num*factorial(num-1);

In [11]:
print(factorial(4));

24

In [15]:
num=int(input("Enter a number to find its factorial : "));
result=factorial(num);
print("The facotrial of {} is {} ".format(num,result))

Enter a number to find its factorial : 4
The facotrial of 4 is 24

### Count even and odd numbers in a lis

In [18]:
def count(lst):
    even=0;
    odd=0;
    for i in lst:
        if i%2==0:
            even+=1;
        else:
            odd+=1;
            
    return even,odd;

In [19]:
lst=[4,63,6,2,7,23,74,77,23,93,23,5,8,23,8,23]
even,odd=count(lst);
print("Evne Number are {} & Odd Number are {}".format(even,odd))

Evne Number are 6 & Odd Number are 10

In [20]:
print(len(lst));

16

### Global Variable Concept

In [35]:
a=44;
def ftn():
    print("a in function before changing : ",a);
    x=a;
    print("Id of a and x before changing its value : ",id(x),id(a));
    x=643;
    print("Id of x afer changinng its value : ",id(x));
    print("x after changing its value : ",x);

In [37]:
ftn();
print("a out of funciton : ",a);
print("id of a : ",id(a));

a in function before changing :  44
Id of a and x before changing its value :  2331476624976 2331476624976
Id of x afer changinng its value :  2331587738192
x after changing its value :  643
a out of funciton :  44
id of a :  2331476624976

####  Changing Global variable in funtion

In [38]:
x=34;
def change():
    global a
    a=88;
    print("a in funciton : ",a);

change();
print("a ourside of function : ",a);

a in funciton :  88
a ourside of function :  88

#### using global variable in function

In [43]:
num=43;
def ftn():
    num=325;
    print(id(num));
    x=globals()['num'];
    print("The value of x : ",x);
    globals()['num']=500;

ftn();
print(id(num));
print("the value of num : ",num);

2331587736240
The value of x :  43
2331587734160
the value of num :  500