In [1]:
import cx_Oracle as oracle;

In [2]:
conn=oracle.connect("scott/Abbas_2004@localhost:1521/ORCL");

In [5]:
print(conn.version);

11.2.0.1.0

In [6]:
cursor=conn.cursor();

In [88]:
print(cursor);

<cx_Oracle.Cursor on <cx_Oracle.Connection to scott@localhost:1521/ORCL>>

In [44]:
print(cursor.description);

[('DEPTNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 3, None, 2, 0, 0), ('DNAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 14, 56, None, None, 1), ('LOC', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 13, 52, None, None, 1)]

In [79]:
cursor.execute('select * from dept');

In [80]:
print(cursor.fetchone());

(10, 'ACCOUNTING', 'NEW YORK')

In [81]:
cursor.execute('select * from dept');

In [84]:
rows=cursor.fetchall();
for row in rows:
    print(row);

In [85]:
cursor.execute('select * from dept');

In [86]:
print(cursor.fetchmany(2));

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS')]

In [ ]:
cursor.execute('select * from dept');

In [87]:
for row in cursor.fetchmany(2):
    print(row);

(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')