## Oracle Datebase Connection in Python

### Requirements

**(1) : Python**

**(2) : Oracle Database**

**(3) : cx_Oracle**

**For communicating with any database through our Python program we require some connector which is nothing but the cx_Oracle module.**

### Installation of cx_Oracle

**For installing cx_Oracle open your command prompt and run the following command**

***pip install cx_Oracle***

### Verifying cx_oracle package Installation on Windows

**To Varify if the cx_Oracle packageg has been successfully install in your system run the below command in commad prompt**

***python -m pip show cx_Oracle***

### Import database specific module

In [2]:
import cx_Oracle as oracle;

### Connection

**connect(): Now Establish a connection between the Python program and Oracle database by using connect() function.**

In [3]:
# con=oracle.connect("username/password@localhost");

In [4]:
con=oracle.connect("scott/Abbas_2004@localhost:1521/ORCL");

### Cursor

**cursor(): To execute a SQL query and to provide results some special object is required that is nothing but cursor() object.**

In [5]:
cursor=con.cursor();

### execute/executemany method:

In [6]:
# cursor.execute("SQL Query")        --->   To execute single query
# cursor.executemany("SQL Query")    --->   to execute a single query with multiple bind variables/place holders.

In [7]:
cursor.execute("select * from dept");

### fetchone(), fetchmany(int), fetchall():

**fetchone() : This method is used to fetch one single row from the top of the result set.**

**fetchmany(int) : This method is used to fetch a limited number of rows based on the argument passed in it.**

**fetchall() : This method is used to fetch all rows from the result set.**

### Example:

**The Query is executed again and again because when we fetch a row from cursor the row is deleted from the cursor.**

In [8]:
cursor.execute('select * from dept');

In [9]:
print(cursor.fetchone());

(10, 'ACCOUNTING', 'NEW YORK')

In [10]:
cursor.execute('select * from dept');

In [11]:
print(cursor.fetchmany(2));

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS')]

In [12]:
cursor.execute('select * from dept');

In [13]:
rows=cursor.fetchall();
for row in rows:
    print(row);

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [14]:
cursor.execute('select * from dept');

In [15]:
for row in cursor.fetchmany(2):
    print(row);

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')

### commit();

**commit(): For DML(Data Manipulation Language) queries that comprise operations like update, insert, delete. We need to commit() then only the result reflects in the database.**

In [16]:
# con.commit();

In [18]:
con.commit();

### close();

**close(): After all done it is mandatory to close all operations.**

In [19]:
# cursor.close();
# con.close();

In [20]:
cursor.close();

In [21]:
con.close();