#### if Statement

In [1]:
x=int(input("please enter an integer : "));
if x<0:
    x=0;
    print("Negative changed to 0");
elif x==0:
    print("Zero");
elif x==1:
    print("One");
else:
    print("more");

please enter an integer : 2
more

#### for Statement

In [5]:
words=['apple','stawberry','orange','pear'];
for word in words:
    print(word, len(word));

apple 5
stawberry 9
orange 6
pear 4

In [6]:
users={'abbas':'active','kamran':'inactive','usman':'active'};
for user,status in users.copy().items():
    if status=='inactive':
        del users[user];

In [7]:
print(users);

{'abbas': 'active', 'usman': 'active'}

In [8]:
users['sajid']='inactive';
users['wahab']='inactive';
users['zubair']='active';

In [9]:
users

{'abbas': 'active',
 'usman': 'active',
 'sajid': 'inactive',
 'wahab': 'inactive',
 'zubair': 'active'}

In [10]:
print(users);

{'abbas': 'active', 'usman': 'active', 'sajid': 'inactive', 'wahab': 'inactive', 'zubair': 'active'}

In [12]:
inactive_users={};
for user,status in users.items():
    if status=='inactive':
        inactive_users[user]='inactive';

In [13]:
inactive_users

{'sajid': 'inactive', 'wahab': 'inactive'}

In [15]:
active_users={};
for user,status in users.items():
    if status=='active':
        active_users[user]=status;

In [16]:
active_users

{'abbas': 'active', 'usman': 'active', 'zubair': 'active'}

### enumerate Function

**When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.**

In [19]:
Tuple=("C++","Python","Java","R","JavaScript","Cabul","CSS");
for index,value in enumerate(Tuple):
    print("Index : ",index,"    ","Value : ",value);

Index :  0      Value :  C++
Index :  1      Value :  Python
Index :  2      Value :  Java
Index :  3      Value :  R
Index :  4      Value :  JavaScript
Index :  5      Value :  Cabul
Index :  6      Value :  CSS

**Reverse the Tuple**

In [21]:
for index,value in enumerate(Tuple[::-1]):
    print("Indes : ",index,"   ","Value : ",value);

Indes :  0     Value :  CSS
Indes :  1     Value :  Cabul
Indes :  2     Value :  JavaScript
Indes :  3     Value :  R
Indes :  4     Value :  Java
Indes :  5     Value :  Python
Indes :  6     Value :  C++

### else statement with for loop    (break Statement)

 **loopâ€™s else clause runs when no break occurs**

In [26]:
num=int(input("Enter a number : "));
for n in range(2,int(num/2+1)):
    if num%n==0:
        print("Not prime");
        break;
else:
    print("prime number");

Enter a number : 32
Not prime

#### Continue Statement

In [27]:
for num in range(1,15):
    if num%2==0:
        print("Event number found : ",num);
        continue;
    print("Odd Number found : ",num)

Odd Number found :  1
Event number found :  2
Odd Number found :  3
Event number found :  4
Odd Number found :  5
Event number found :  6
Odd Number found :  7
Event number found :  8
Odd Number found :  9
Event number found :  10
Odd Number found :  11
Event number found :  12
Odd Number found :  13
Event number found :  14

In [1]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.