In [3]:
def mul(a,b):
    if b==1:
        return a;
    else:
        return a+mul(a,b-1);

In [4]:
print(mul(4,5));

20

In [5]:
def fact(number):
    if number==1 or number==0:
        return 1;
    else:
        return number*fact(number-1);

In [6]:
fact(1)

1

In [7]:
fact(2)

2

In [8]:
fact(0)

1

In [9]:
fact(3)

6

In [10]:
fact(4)

24

In [30]:
def palindrome(String):
    if len(String)<=1:
        return "Palindrome";
    else:
        if String[0]==String[-1]:
            return palindrome(String[1:-1]);
        else:
            return "Not Palidrome";

In [31]:
palindrome("ab")

'Not Palidrome'

In [32]:
palindrome('madam')

'Palindrome'

In [34]:
palindrome('noon')

'Palindrome'

##### if 2 newborn rabbits are put in a pen, how many rabbits will be in the pen after 1 year?
  ##### Assume that Rabbits
##### => always produce one male and one female offspring
##### => can reproduce once every month
##### => can reproduce once they are one month old
##### => never die!

In [ ]:
0,1,2,3,5,8

In [44]:
def fib(m):
    if m==0 or m==1:
        return 1;
    else:
        return fib(m-1)+fib(m-2);

In [45]:
fib(12)

233

#### Fibonacci Series

In [3]:
def fib(a=0,b=1):
    if b<20:
        print(a,end=' ');
        a,b=b,a+b;
        fib(a,b);

In [4]:
fib();

0 1 1 2 3 5 8

In [ ]:
a,b=0,1;
for i in range(10):
    print(a,end=' ');
    a,b=b,a+b;