### iter() Function

In [8]:
L=[34,53,36,23,85,24,75];

In [9]:
try:
    next(L);
except TypeError as ex:
    print("Type Error : ",ex);

Type Error :  'list' object is not an iterator

In [10]:
iter_obj=iter(L);

In [11]:
iter_obj

In [12]:
for i in L:                 
    print(next(iter_obj))

34
53
36
23
85
24
75

### List compreshensions

In [13]:
L

[34, 53, 36, 23, 85, 24, 75]

In [15]:
square=[];
for num in L:
    sq=num**2;
    square.append(sq);
square

[1156, 2809, 1296, 529, 7225, 576, 5625]

In [18]:
square=[sq**2 for sq in L]
square

[1156, 2809, 1296, 529, 7225, 576, 5625]

In [19]:
square=[];
for num in L:
    sq=num**2;
    if sq%2==0:
        square.append(sq);

square

[1156, 1296, 576]

In [21]:
square=[sq**2 for sq in L if (sq**2)%2==0]
square

[1156, 1296, 576]

#### walrus operator

In [23]:
square=[sq for num in L if (sq:= num**2)%2==0]
square

[1156, 1296, 576]

In [28]:
not (3**2)%2

False

In [29]:
not (4**2)%2

True

In [37]:
square=[sq for num in L if not(sq:= num**2)%2]
square

[1156, 1296, 576]

### Dictionary Comprehension

In [39]:
d={char:ord(char) for char in 'abcdefghi'}
d

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105}

In [41]:
# Set
s={ord(char) for char in 'abcdefgh'};
s

{97, 98, 99, 100, 101, 102, 103, 104}

In [43]:
# generator expression
g=(el**2 for el in range(5));
g

In [44]:
for i in g:
    print(i)

0
1
4
9
16

In [45]:
# Tuple
t=tuple(ord(char) for char in 'abcdefgh');
t

(97, 98, 99, 100, 101, 102, 103, 104)